/*#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;
}*/

html {
  scroll-behavior: smooth;
}

h1 {
    font-family: 'Comic Sans MS';
    margin: auto;
    color: rgb(47, 0, 255);
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }
  h1:before {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    background: blue;
    left: 0;
    top: 50%;
    position: absolute;
  }
  h1:after {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    background: blue;
    right: 0;
    top: 50%;
    position: absolute;
  }

h2{
    text-align: center;
}
h3{
	text-align: center;
}

h3{
  text-align: center;
}
p{
  text-align: center;
}
form{
  text-align: center;
}
.id { width: 90px; height: 390px; border: 1px solid #999999; padding: 5px; }

a{
  font-size: 40px;
  font-style:normal;
  margin:20px;
}

.btn-group{
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}


